*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    --bg-color:#F5E6D3;
    --nav-color:#47302e;
    --text-color:#e3d7bf;
    --black-color:#47302ecd;
    background-color: var(--bg-color );
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
#fondo-video {
    filter: blur(1px);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1; 
    background-size: cover; 
    opacity: 0.7; 
    display: none;
}
.selector_cafeterias{
    margin: 0;
}
.menu{
    background-color: #47302e;;
    width: 45dvw;
    height:80dvh;
    border-radius: 0 10px  10px 0;
    flex-direction: column;
    box-shadow: 0 0 8px 0 var(--black-color);
    margin-top: 4em;
    z-index: 11;
    display: none;
    position: absolute;
}
.menu-title{
    width: 90%;
    margin-left: 0px;
}
.opciones-scrollables{  
    flex-grow: 1;
    min-height: 0;
    overflow-y: auto;
}
/* Limpieza de margen inferior del último elemento en la lista */
.opciones-scrollables a:last-child {
    margin-bottom: 0; 
}

.menu a{
    display: block;

}
.volver-boton{
    background-color: var(--bg-color);
    color: var(--nav-color);
    padding: 8px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    flex-shrink: 0;
    width: 90%;

    margin-top:auto;
    margin-left: auto;   /* Centrado horizontal */
    margin-right: auto;  /* Centrado horizontal */
    margin-bottom: 20px;
}
.toggle{
    background-color: var(--black-color);
    position: absolute;
    top: 19.9em;
    left: -15px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    z-index: 1;
    display: flex;
    cursor: pointer;
    padding-left: 3.5px;
    padding-right: 8px;
    z-index: 11;
    user-select: none;
    
}
.toggle span{
    font-size: 38px;
    color: var(--bg-color);
    padding: 0;
    margin: 0;
}
.menu-check{
    display: none;
}
.menu-check:checked ~ .menu{
    display: flex;
}
.menu-check:checked ~ .toggle{
    transform: translateX(45dvw); 
}
.menu-check:checked ~ .toggle span{
    transform: rotate(180deg) translateY(1.8px) translateX(3px);
}

/*Menu con las cafeterias*/
.menu-title-container{
    text-align: center;
    flex-shrink: 0;
    font-size: 10px;
    color: var(--bg-color);
}
.opcion-cafeteria{
    
    color: var(--bg-color);
    text-decoration: none;
    display: grid;
    text-align: center;
    margin-top: 20px;
}
@media screen and (min-width: 1100px) {
    #fondo-video{
        display: block;
    }
    .menu{
        width: 15dvw;
        display: flex;
        margin-left: 1dvw;
        border-radius: 10px;
    }
    .menu-title{
        margin-left: 0;
    }

    .toggle{
        display: none;
    }
    .volver-boton{
        margin-top: 125px;
    }
}

/*--------------------------------------*/

/*Seccion de chat*/
.chat-container{
    margin-left: 1em;
    margin-right: 1em;
    height: 88dvh;
    
}

h3{
    color: #47302e;
    margin-left: auto;
    margin-right: auto ;
    width: 120%;
    
}
.form-opinion{
    position: sticky;
    bottom: 0;
    margin-top: 10px;
}
.form-opinion textarea{
    background-color: var(--black-color);
    color: var(--bg-color);
    resize: none;
    width: 100%;
    height: 70px;
    outline: none;
    border-radius: 10px;
}
::placeholder{
    color: var(--bg-color);
}
fieldset{
    border-color: #47302e;
    height: 82%;
}
.comentarios-lista {
    height: 100%;
    overflow-y: auto; /* ¡Esto es crucial para que haya scroll! */
    border: 1px solid transparent;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.form-opinion button{
    background-color: var(--black-color);
    color: var(--bg-color);
    padding: 9px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}
.form-opinion input[type="number"]{
    background-color:transparent ;
    text-align: center;
    outline: none;
    border-radius: 10px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Oculta las flechas */
  margin: 0; /* Asegura que no quede espacio extra */
}
.opinion-item{
    margin-bottom: 60px;
    background-color: #47302e34;
    box-shadow: 0 0  2px #47302e;
    padding: 10px;
    border-radius: 8px;
}

.opinion-item strong{ 
    background-color: var(--black-color);
    color: var(--bg-color);
    border-radius: 5px;
    padding: 4px;
}
.opinion-item.mio {
    align-self: flex-end; /* Mueve la burbuja a la derecha */
    /*border-bottom: 2px solid var(--black-color);*/
    box-shadow: 0 0  2px #47302e;
    background-color: transparent;
}
@media screen and (min-width: 1100px) {

.chat-container{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    background-color: var(--bg-color);

    border-radius: 8px;
}
.form-opinion{
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 8px;
}
h3{
    padding-top: 10px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.form-opinion{
    text-align: center;
}

}

