*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    --bg-color:#F5E6D3;
    --nav-color:#47302e;
    --text-color:#e3d7bf;
    --black-color:#47302ecd;
    background-color: var(--bg-color );
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
    display: none;
    width: 0; 
}
title{
    background-color: var(--bg-color);
}
a{
    text-decoration: none;
}
#fondo-video {
    filter: blur(1px);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1; 
    background-size: cover; 
    opacity: 0.7; 
    display: none;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 20px 0;
    box-shadow: 0 0 4px 0;
    height: 10dvh;
}

.header__open-nav-button{
    background-color: transparent;
    position: absolute;
    right: 10px;
    user-select: none;
}


.material-symbols-outlined{
    color: var(--text-color);
}
.header__checkbox{
    display:none ;
}
.header__nav{
    background-color: var(--nav-color);
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index:-1;
    transform: translateY(-100%); /* oculto */
    transition: transform 0.6s ease;
}
.navbar-image{
    background-color: var();
    max-width: 100%;
    width: 64px;
    margin-left: 10px;  
    margin-top: .1rem;
    margin-bottom: .1rem;
}
.navbar-buttonsesion{
    background-color:var(--text-color) ;
    color: var(--nav-color);
    position: absolute;
    padding: 4px 6px 4px 6px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    opacity: 0.7;
}
.navbar-buttonsesion:hover{
    opacity: 1;
}
#logout-button{
    border-style: none;
    display: flex;
}
.navbar__ul {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    height: 97dvh;
    justify-content: center;
    width: 100%;
    margin-right:25px ;
    margin-left: -25px;
}
.navbar-item {
    display: block;
    color: var(--text-color);
    list-style: none;
    margin-bottom: 6rem;
    width: 103%;
}
.navbar-item:first-child{
    margin-top: 100px;
}
.navbar-item a{
    display: block;
    color: var(--text-color);
    text-decoration:none;
    padding: 10px;
}
.navbar-item:last-child a{
    margin-bottom: 0;
}
.navbar-item:hover {
    border-radius: 5px;
    background-color: var(--text-color);
}
.navbar-item:hover a{
    color: var(--nav-color);
    opacity: 0.7;
}


.header__checkbox:checked ~ .header__nav{
    transform: translate(0);
}

/*-----PROFILE-----*/

#profile-toggle:checked ~ .profile__section {
    display: block; /* Muestra el menú cuando el checkbox está marcado */
}
.profile__button{
    text-decoration: none;
}

/*-----FIN PROFILE-----*/

@media screen and (min-width: 1100px) {

    #fondo-video{
    display:block;
    }
    .header {
    padding: 20px 40px;
    justify-content: flex-start;
}

    .menu-toggle{
    visibility: hidden;
}

    .header__nav {
    display: flex;
    position: static; /* Vuelve a ser parte del flujo normal de la página */
    width: auto;
    height: auto;
    background-color: transparent;
    transform: none; /* Elimina la transformación */
}

    .navbar-buttonsesion{
    position: absolute;
    margin-bottom: 1.2vh;
    left: 9vw;
    }

    .navbar__ul {
    flex-direction: row; /* Convierte el menú en horizontal */
    width: auto;
    gap: 2rem; /* Agrega espacio entre los ítems */
    height: auto;
    margin: 0;
    }

    .navbar-item {
    margin-bottom: 0; 
    display:inline-block;
    margin: 0 6px 0 6px;
    padding: 0;
    width: auto;
}

    .navbar-item:first-child {
    margin-left: 3rem;
    margin-top: 0; /* Elimina el margen inferior */
}

    .navbar-item a {
    color: var(--text-color); 
}
    .Introduccion_Down{
    display: block;
}

}

/*-----Fin del nav-----*/

/*----- Estilos para el contenedor de autenticación (login/nombre) -----*/
#auth-container {
    position: absolute;
    right: 1vw;
    top: 125px;
    display: flex; /* Para alinear el texto y el botón */
    align-items: center;
    gap:0; /* Espacio entre el mensaje y el botón */
    background-color: transparent;
}

#welcome-message {
    color: var(--bg-color);
    padding: 4px 6px;
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    border-radius: 5px;
    opacity: 1;
    margin-right: 2.5rem;
}

#welcome-message:hover{
    background-color: var(--bg-color);
    color: var(--nav-color);
}

#login-button {
    background-color:var(--text-color) ;
    color: var(--nav-color);
    right: 1rem;
    top: 10%;
    padding: 4px 6px 4px 6px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    opacity: 0.7;
    width: 8rem;
}
#login-button:hover {
    opacity: 1;
}

@media screen and (min-width: 1100px) {
    #auth-container {
        display: flex;
        align-items: center;
        position: absolute;
        top: 1.4rem;
        right: 40px;
        margin-left: 0; 
        
    }
    #login-button{
        position: static;
    }
    #welcome-message {
        background-color: transparent; 
    }
    .logout-button{
        position: static;
        top: auto;
    }
    .Introduccion{
        margin-top: 100dvh;
    }
    .Introduccion h1{
        background-color: var(--bg-color);
        padding: 50px;
        border-radius: 10px;
    }
    .description{
 /* Asegura que el contenido (h1, .description) esté centrado */
        justify-self: center;
        justify-content: center; 
        align-items: center;    
        margin-left: 0;
        flex-direction: column;  

        /* Elimina el margen superior para que no baje demasiado */
        margin-top: 0;
        height: 100vh; /* Puedes usar 100vh si quieres que ocupe toda la pantalla */
    }
    .description{
    scroll-margin-top:30rem ;
}
}

/*-----FIN estilos para el nombre de usuario-----*/
/*-----Inicio de apartados de la pagina-----*/

main{
    --Mtext-color:#000;
    
}

/*-----Introduccion-----*/
.Introduccion{
    display: flex;
    height: 100dvh;
    background-color: transparent;
    margin-top: 9.5dvh;
}
.Introduccion h1{
    background-color: var();
    font-size: 30px;
    margin: auto;
    color: var(--nav-color);
}
.Introduccion_Down{
    background-color: var(--nav-color);
    border-radius: 50%;
    scale: 1.2;
    border-style: none;
    text-decoration: none;
    color: var(--bg-color);
    display: flex;
    position: absolute;
    top: 61.5%;
    right: 50%;
    transition: transform 0.1s ease-in;
    transform: translateY(7px);
    
}

.Introduccion_Down:hover{
    animation-name:bajar;
    animation-duration:1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    transform: translateY(7px);
}
@keyframes bajar{
    from{
        transform: translateY(7px);
    }
    to{
        transform: translateY(25px);
    }
}

.pic_mobile{
    scroll-margin-top:4.5rem ;
}
.pic_mobile input[type="radio"]{
    display: none;
}
.pic_mobile{
    width: 100dvw;
    height: 80dvh;
    overflow: hidden;
    position: relative;
    margin: auto; 
    filter: brightness(0.9);
    scroll-margin-top:4.0rem ;
}
.slider-pista{
    display: flex;
    width: 300dvw;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}
.slider-pista div{
    min-width: 100dvw; 
    height: 100%;
    
}
.p1{
    background-image: url(P1.png);
}
.p2{
    background-image: url(P2.png);
}
.p3{
    background-image: url(P3.png);
}
.p1, .p2, .p3{
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
#s-1:checked ~ .slider-pista {
    transform: translateX(0); 
}
#s-2:checked ~ .slider-pista {
    transform: translateX(-100dvw); 
}
#s-3:checked ~ .slider-pista {
    transform: translateX(-200dvw); 
}
.botones-nav label {
    display: none; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 2rem;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    z-index: 10;
    border-radius: 50%;
    color: var(--bg-color);
}
#s-1:checked ~ .botones-nav .next-btn {
    display: block;
    right: 10px;
}
#s-2:checked ~ .botones-nav .prev-btn-1,
#s-2:checked ~ .botones-nav .next-btn-2 {
    display: block;
}
#s-2:checked ~ .botones-nav .prev-btn-1 { left: 10px; }
#s-2:checked ~ .botones-nav .next-btn-2 { right: 10px; }

#s-3:checked ~ .botones-nav .prev-btn-2 {
    display: block;
    left: 10px;
}
@media screen and (min-width: 1100px) {
    
.p1{
    background-image: url(P1pc.png);
}
.p2{
    background-image: url(P2pc.png);
}
.p3{
    background-image: url(P3pc.png);
}
}

/*-----Fin Introduccion-----*/


/*-----MAPA-----*/
.mapa{
    height: 60vh; /* 60% de la altura de la ventana */
    width: 90%; 
    margin: 30px auto 30px auto; /* Centrar y separar de la barra superior fija */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1;
}
.mapa-container{
    
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 40rem;
}
.mapa-tittle{
    margin: auto;
    padding: auto;
    font-size: 25px;
    color: var(--nav-color);

}
.mapa-message{
    font-size: 16px;
    width: auto;
    background-color: var(--nav-color);
    color: var(--bg-color);
    padding: 10px 0;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    /*animation-name: mover-mensaje;
    animation-duration: 2s;
    animation-fill-mode:backwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;*/
}
.mapa-message p{
    margin: 3px;
}
.mapa-imagge{
    display: none;
}

/*@keyframes mover-mensaje {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0.8);
    }
}*/


@media screen and (min-width: 1100px) {

    .mapa-container {
        /* Usamos Grid para definir las dos columnas */
        display: grid;
        /* Define dos columnas: una para el mapa (50vw) y otra para el contenido (35vw) */
        grid-template-columns: 50vw 35vw; 
        grid-template-rows: auto auto auto; /* 3 filas para los elementos de la derecha */
        gap: 25px; /* Espacio entre las columnas y filas */
        row-gap: 0;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        margin: 75rem auto 10rem auto; 
        
    }

    /* 2. Ubicar los elementos dentro de la rejilla */

    /* MAPA (Columna 1, Ocupa 3 filas) */
    .mapa {
        scroll-margin-top:100px;
        width: 110%; /* Ocupa el 100% de su celda (la columna 1) */
        height: 70vh; 
        margin: 0;
        grid-column: 2 / 3; /* Inicia en columna 1, termina antes de 2 */
        grid-row: 1 / span 3; /* Se extiende por las 3 filas */
    }

    /* TÍTULO (Columna 2, Fila 1) */
    .mapa-tittle {
        grid-column: 1 / 2; 
        grid-row: 1 / 1;
        margin: 0; 
        width: 30%;
        background-color: var(--nav-color);
        color: var(--bg-color);
        padding: 10px 0;
        border-radius: 8px;
        text-align: center;
        margin-bottom: 0;
        justify-self: center;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }

    /* MENSAJE (Columna 2, Fila 2) */
    .mapa-message {
        grid-column: 1 / 2; 
        grid-row: 3/ 3;
        width: 100%; 
        margin: 0;
        justify-self: start;
        margin-top: 0;
    }

    /* IMAGEN (Columna 2, Fila 3) */
    .mapa-imagge {
        display: block;
        grid-column: 1 / 2; 
        grid-row: 1/ 3;
        width: 53%; 
        height: auto;
        margin: 0;
        justify-self:center;
        margin-top: 3rem;
    }
}

/*-----FIN MAPA-----*/

/*-----LISTA DE CAFETERIAS-----*/
.coffee__list{
    background-color: var(--black-color);
    height: 90dvh;
}
.coffee__list-title{
    color: var(--bg-color);
    text-align: center;
    
}
.coffee__list-title-text h2{
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.list-title{
    margin-top: 30px;
}
.coffee-container-elements{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap:15px;
    padding: 0;
    margin: 0px;
}

.coffe-link{
    text-decoration: none;

}
.link-container{
    display: grid;
    width: 5em;
    
}
.link-container img{
    width: 6em;
    height: 100px;
    object-fit:cover;
    border-radius: 8px;
    margin-bottom: 0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: all 0.5s;
}
.link-container-title{
    color: var(--text-color);
    margin-top: auto;
}
.link-container img:hover{
    transform: scale(1.06);

}
@media screen and (min-width: 1100px) {
    .coffee-container-elements{
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 15px;
        padding: 0 20px;
        margin: 5rem 0 10rem 4rem;
        justify-items: start;
    }
    .coffee__list-title-text h2{
    padding-top: 3rem;
    padding-bottom: 1rem;
}
    .link-container img{
    width: 30em;
    height: 200px;
    object-fit:cover;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

}

/*-----FIN LISTA DE CAFETERIAS-----*/