*{
    scroll-behavior: smooth;
}
body{
    --bg-color:#F5E6D3;
    --nav-color:#47302e;
    --text-color:#e3d7bf;
    --black-color:#47302ecd;
    background-image: url(fondo-mesa.png);
    background-size: cover;
    font-family: sans-serif;
    margin: 0;
    padding: 0;

}

.pasaporte-container{
    height: 100px;
    max-width: 400px;
    width: 90%;
    background-color: var(--black-color);
    margin-top: 11dvh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 25px 25px 0;
    box-shadow: 0 0 6px black;
    position: relative;
}
.portada-pasaporte{
    background-image: url(portada.png);
    background-size: cover;
    height: 80dvh;
    border-radius: 0 25px 25px 0;
}
.pagina-activa{
    height: 70dvh;
    background-image: url(fodo-paginas.png);
    background-size: cover;
    border-radius: 0 25px 25px 0;
    height: 80dvh;
}
.imagen-contenedor img{
    margin-top: 30px;
    max-width: 80%;
    border-radius: 8px;
}

.cafeteria-pasaporte{
    text-align: center;
    
}
.cafeteria-pasaporte h3{
    color: var(--nav-color);
    font-size: 30px;
    margin-top: 20px;
    
}
.cafeteria-pasaporte p{
    
}

/*----Botones----*/
.navegacion{
    position: absolute;
    height: 30px;
    width: 100%;
    bottom: -200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navegacion button{
    background-color: var(--black-color);
    color: var(--bg-color);
    font-size:28px;
    height: 40px;
    width: 40px;
    border-radius:50% ;
    justify-content: space-between;
    align-items: center;
    border: none;
    user-select: none;
}
.btn-anterior{
    margin-left: 3px;
}
.btn-siguiente{
    margin-right: 3px;
}

/*----Sello----*/
.sello-imagen{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 30;
}
.cafeteria-pasaporte.estampado .sello-imagen{
    display: block;
}
