*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    --bg-color:#F5E6D3;
    --nav-color:#47302e;
    --text-color:#e3d7bf;
    --black-color:#47302ecd;
    background-color: var(--nav-color );
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
#fondo-video{
    display: none;
}

/* --- ESTILOS PARA PERFIL.HTML --- */

.perfil-container {
    max-width: 95%;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--bg-color);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 90px;
    color: var(--black-color);
    
}
h1{
    text-align: center;
    color: var(--nav-color);
}
h2,h3{
    color: var(--nav-color);
}

.perfil-info, .pasaporte-sellos {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid var(--black-color);
    border-radius: 8px;
}

.perfil-info strong {
    color: #47302e; /* Color de tu menú */
}

.lista-sellos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.sello-item {
    padding: 15px;
    background-color: transparent;
    border: 1px dashed #47302e;
    border-radius: 6px;
    transition: transform 0.2s;
}

.sello-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.volver{
    background-color: var(--bg-color);
    position: absolute;
    top: 0;
    width: 100%;
    height: 1.5rem;
    text-align: center;
    align-items: center;
    box-shadow: 0 2px 12px var(--black-color);
}
.volver a{
    padding-top: 10px;
    text-decoration: none;
    color: var(--black-color);
}
.logout-btn{
    text-align: center;
    position: sticky;
}
.logout-btn button{
    background-color: var(--bg-color);
    color: var(--black-color);
    padding: 10px;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
}
.logout-btn button:hover{
    background-color: rgba(231, 9, 9, 0.764);
    color: white;
    box-shadow: 0 2px 12px var(--black-color);
    transform: scale(1.2);
}

@media screen and (min-width: 768px) {
    .perfil-container{
        width: 60%;
    }
    body{
        background-color: transparent;
    }
    #fondo-video {
    filter: blur(1px);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1; 
    background-size: cover; 
    opacity: 0.7; 
    display: block;
    }

    .logout-btn button{
        background-color: var(--nav-color);
        color: var(--bg-color);
        margin-bottom: 30px;
        transform: scale(1.3);
    }
    .logout-btn button:hover{
        transform: scale(1.5);
    }
    .volver{
    background-color: var(--nav-color);
    }
    .volver a{
        color: var(--bg-color);
    }

}
