*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    --bg-color:#F5E6D3;
    --nav-color:#47302e;
    --text-color:#e3d7bf;
    --black-color:#47302ecd;
    background-color: var(--bg-color );
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.admin__select{
    margin-top: 42dvh;
    align-items: center;
}
.admin__select fieldset{
    text-align: center;
}
.admin__select fieldset{
    align-items: center;
    display: grid;
    margin: 20px;
    border-color: var(--black-color);
}
.modificaciones-option{
    margin-top:15px ;
}
.modificaciones-option a{
    text-decoration: none;
    color: var(--black-color);
}
.option-button{
    margin-top: 15px;
    padding: 10px;
    background-color: var(--black-color);
    border-radius: 8px;
    color: var(--black-color);
}
.option-button button{
    text-decoration: none;
    background-color: transparent;
    color: var(--text-color);
    box-shadow: none;
    z-index: -10;
    border-color:transparent ;
    cursor: pointer;
}
.option-button a{
    color: var(--text-color);
    text-decoration: none;
    border-color:var(--black-color);
    
}

/*----Modificar lista---*/
.Agregar-cafeteria > a {
    text-align: center;
}

.form_fieldset{
    margin-top: 34dvh;
    display: grid;
    border-color: var(--black-color);
    margin-bottom: 18px;
}
.form_fieldset > legend{
    text-align: center;
    margin-bottom: 1.5em;
}

.fieldset-data{
    display: flex;
    flex-direction: column;
}
.fieldset-data label{
    color: var(--black-color);
    margin-left: 10px;
    margin-right:-10px ;
}
.fieldset-data > div{
    justify-content: space-between;
    display: flex;
}
.fieldset-data input{
    flex-shrink: 0;
    margin-right: 120px;
    width: 50%;
    background-color: var(--bg-color);
    outline: 0 0 0 0;
    
}
.fieldset-data input:focus{
    box-shadow: none;
    border-color: transparent;
    
}
.map-data-element{
    margin-bottom: 15px;
}
.map-data-element :last-child{
    margin-bottom: 0;
}
.casilla{
    outline: none;
    border: none;
    border-bottom: 2px solid var(--black-color);
    text-align: center;
}
.casilla:focus{
    outline: none;
    border: none;
    color: var(--bg-color);
    background-color: var(--black-color);

}
.label-data{
    margin-bottom: 5px;
}
.registro-cafeteria{
    margin-top: 1.5em;
    padding: 10px;
    border-radius:8px;
    background-color: var(--black-color);
    color: var(--text-color);
    border-color: transparent;
    cursor: pointer;
}
.volver {
    margin-left: 43dvw;
}
@media screen and (min-width: 1100px) {

    .admin__select{
    max-width: 60%;
    margin-left: 22dvw;
    }

    .Agregar-cafeteria {
    max-width: 90%;
    margin-left: 15em;
    margin-right: 12em;
}
    .volver{
        margin-left: 34dvw;
    }
    .fieldset-data label{
    color: var(--black-color);
    margin-left: 20dvw;
    margin-right:-10px ;
}
}
/*----Lista ista---*/
.lista__container{
    background-color: var(--black-color);
    margin-right: 1.2em;
    margin-left: 1.2em;
    padding: 1em;
    box-shadow: 0 0 1.5px 1.5px #47302e;
    border-style: none;
    text-align: center;
}
.lista-title-container{
    text-align: center;
    color: var(--bg-color);
    
}
.title-conteiner{
    margin-top: 3em;
}
.lista-items-container{
    background-color: var(--text-color);
    text-align: center;
    padding: 12px 0 12px 0;
    border-radius: 8px;
    padding-bottom: 10px;

    
    
}
.cafeteria-item{
    background-color: var(--bg-color);
    margin-bottom: 10px;
    padding: 25px;
    text-align: center;
    
}

.cafeteria-nombre{
    color: var(--nav-color);
    text-align: center;
}
.cafeteria-acciones{
    margin-top: 10px;
}
.cafeteria-acciones button{
    background-color: var(--black-color);
    color: var(--bg-color);
    box-shadow: none;
    border-style: none;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}
.cafeteria-acciones button:hover{
    box-shadow: 0 0 1px 1px #47302ea4;
}
.añadir-admin-button{
    text-decoration: none;
    color: var(--bg-color);
    padding-top: 10px;
}
.back-admin{
    margin-top: 18px;
    text-align: center;
}
.back-admin-button{
    text-decoration: none;
    color: var(--black-color);
}
.back-admin-button:hover{
    background-color: var(--black-color);
    color: var(--bg-color);
    padding: 8px;
    border-radius: 10px;
}
@media screen and (min-width: 1100px) {
    .lista__container{
        margin: 0;
    }
    .cafeteria-item{
        width: 60dvw;
        margin-left: 18em;
        border-radius: 10px;
    }
}